.card__delete-button {
    background-image: url("../../../images/trash.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 19px;
    cursor: pointer;
    border: none;
    flex-shrink: 0;
    padding: 0;
    display: flex;
    align-self: end;
    position: absolute;
    margin-top: 20px;
    margin-right: 20px;
}

.card__delete-button:hover {
    opacity: 0.6;
}