.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 880px;
    margin: 45px auto 0;
    width: calc(100% - 400px);
    padding-bottom: 41px;
    border-bottom: solid 1px rgba(84, 84, 84, 0.7);
 }

 @media screen and (max-width:425px){
    .header{
        max-width: 320px;
        margin: 28px auto 0;
        width: 100%;
        padding-bottom: 31.6px;
    }
}