.popup__name {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #0000;
  max-width: 330px;
  margin: 0 0 50px;
}

@media (max-width: 767px) {
  .popup__name {
    max-width: 238px;
    font-size: 18px;
    margin: 0 0 75px;
  }
}
