.profile__title {
    font-size: 42px;
    line-height: normal;
    font-weight: 500;
    margin: 0 0 4px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .profile__title {
        font-size: 35px;
    }
}

@media screen and (max-width: 700px) {
    .profile__title {
        font-size: 27px;
        margin-bottom: 8px;
    }
}