.profile__block {
    display: flex;
    flex-direction: row;
    margin: 22px 0;
    max-width: 400px;
}


@media screen and (max-width: 425px) {
    .profile__block {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}