.elements{
    display: grid;
    max-width: calc(100% - 400px);
    margin: 51px auto 0;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    row-gap: 20px;
    column-gap: 17px;
    
}

@media screen and (max-width: 700px) {
    .elements {
        max-width: calc(100% - 38px);
    }
}