.form__input {
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    width: 358px;
    padding: 0 0 10px 0;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 0px;
}

.form__input:last-of-type {
    margin-bottom: 0;
}

.form__input:focus {
    outline: 0;
    outline-offset: 0;
}

@media screen and (max-width: 600px) {
    .form__input {
        width: 238px;
    }
}
