.profile__description{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    max-width: 294px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin:0;
}

@media screen and (max-width: 700px) {
    .profile__description {
    font-size: 14px;
    text-align: center;
    }
}