.profile__info {
    display: flex;
    flex-direction: column;
    max-width: 296px;
    margin-right: 18px;
}

@media screen and (max-width: 800px) {
    .profile__info {
        margin-right: 10px;
        max-width: 250px;
        justify-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .profile__info {
        max-width: 190px;
    }
}