.card__like {
    width: 22px;
    height: 19px;
    cursor: pointer;
    background-image: url("../../../images/whiteHeart.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    flex-shrink: 0;
    padding: 0;
    display: flex;
    align-self: center;
}

.card__like:hover {
    opacity: 0.5;
}
