.popup__title {
    color: #000000;
    font-size: 24px;
    line-height: 100%;
    margin: 0 0 52px 0;
}

@media screen and (max-width: 600px) {
    .popup__title {
        font-size: 18px;
        margin-bottom: 75px;
    }
}